---
layout: default
---

<section class="page__content">
  <header class="page__header">
    <h1 class="page__title">{{ page.title | escape }}</h1>
    {% if page.subtitle %}
      <p class="page__subtitle">{{ page.subtitle | escape }}</p>
    {% endif %}
  </header>

  {% assign posts = site.categories[page.taxonomy] | sort: "date" | reverse %}
  {% assign posts_by_year = posts | group_by_exp:"post", "post.date | date: '%Y'" %}

  {% for year in posts_by_year %}
    <h2 id="{{ year.name }}">{{ year.name }}</h2>

    {% assign posts_by_month = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
    {% for month in posts_by_month %}
      <h3>{{ month.name }}</h3>

      <ul class="taxonomy__entries">
        {% for post in month.items %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

    {% endfor %}
  {% endfor %}
</section>
